/* ҳ��ȥɫ */
#footer {
    background: none;
}
/* ʹ��opacity�������õ�ǰ͸���ȣ������л�darkģʽ������ɫ��һ������ */
/* ��������ɫ */
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    opacity: 0.9;
}
/* �����ȥɫ */
#aside-content .card-widget {
    opacity: 0.9;
}