@font-face {
  font-family: "iconfont"; /* Project id 3611197 */
  src: url('iconfont.woff2?t=1666114846287') format('woff2'),
       url('iconfont.woff?t=1666114846287') format('woff'),
       url('iconfont.ttf?t=1666114846287') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-OCR:before {
  content: "\e74b";
}

.icon-ocr:before {
  content: "\e8cd";
}

.icon-buildings_aristocrat:before {
  content: "\ef13";
}

.icon-wulianwang-:before {
  content: "\e676";
}

.icon-OCRshibie:before {
  content: "\e677";
}

.icon-OCRshibieguanli:before {
  content: "\e684";
}

.icon-ocr1:before {
  content: "\e702";
}

.icon-ocr2:before {
  content: "\e720";
}

.icon-ocr3:before {
  content: "\e679";
}

.icon-OCRshibieyichangjilu:before {
  content: "\e67f";
}

.icon-ocryinshuawenzishibie:before {
  content: "\e70f";
}

.icon-OCR1:before {
  content: "\e694";
}

.icon-OCRshibie1:before {
  content: "\e680";
}

.icon-ocr-yinshuawenzishibie:before {
  content: "\e8a1";
}

.icon-ocr-yinshuawenzishibie1:before {
  content: "\e8a3";
}

.icon-1dataOCR:before {
  content: "\e83c";
}

.icon-ocr4:before {
  content: "\e6d8";
}

.icon-ocr5:before {
  content: "\e701";
}

.icon-OCR2:before {
  content: "\e738";
}

.icon-wangpan:before {
  content: "\e65c";
}

.icon-wangpan1:before {
  content: "\e6ab";
}

.icon-wangpan2:before {
  content: "\e670";
}

.icon-fenlei-copy:before {
  content: "\e65d";
}

.icon-tushu:before {
  content: "\e67b";
}

.icon-weixin11:before {
  content: "\e73b";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-telegram:before {
  content: "\e8dc";
}

.icon-telegram1:before {
  content: "\e731";
}

.icon-fenlei:before {
  content: "\e65e";
}

.icon-lishi:before {
  content: "\e661";
}

.icon-fenlei-lishi:before {
  content: "\e663";
}

.icon-fenlei-rili:before {
  content: "\e664";
}

.icon-fenlei-zhuawawa:before {
  content: "\e667";
}

.icon-fenlei1:before {
  content: "\e67c";
}

.icon-QQ1:before {
  content: "\e886";
}

.icon-tushu1:before {
  content: "\e74d";
}

.icon-lishi1:before {
  content: "\e668";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e669";
}

.icon-weixin12:before {
  content: "\e685";
}

.icon-weixin21:before {
  content: "\e66a";
}

.icon-bzhan:before {
  content: "\e66b";
}

.icon-fenlei2:before {
  content: "\e66c";
}

.icon-tubiaozhizuomoban:before {
  content: "\e671";
}

.icon-sign_qq:before {
  content: "\e672";
}

.icon-fenlei3:before {
  content: "\e675";
}

.icon-telegram2:before {
  content: "\ecd5";
}

.icon-telegram3:before {
  content: "\e8c7";
}

.icon-mianxingtushu:before {
  content: "\e678";
}

.icon-tushu2:before {
  content: "\e67a";
}

.icon-zhihu-circle-fill:before {
  content: "\ea8f";
}

.icon-wangpan3:before {
  content: "\e6e1";
}

.icon-baiduwangpan:before {
  content: "\e67d";
}

.icon-telegram4:before {
  content: "\e67e";
}

.icon-fenlei4:before {
  content: "\e68e";
}

.icon-bingli:before {
  content: "\e681";
}

.icon-changyonglogo32:before {
  content: "\e719";
}

.icon-changyonglogo45:before {
  content: "\e727";
}

.icon-weixin2:before {
  content: "\e60f";
}

.icon-twitter1:before {
  content: "\e609";
}

.icon-douban1:before {
  content: "\e691";
}

.icon-Instagram:before {
  content: "\e696";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-shipin2:before {
  content: "\e60c";
}

.icon-twitter2:before {
  content: "\e659";
}

.icon-youtubeyoutube7:before {
  content: "\e73d";
}

.icon-zhifubaozhifu:before {
  content: "\e64f";
}

.icon-dianying:before {
  content: "\e65b";
}

.icon-weibo1:before {
  content: "\e73c";
}

.icon-baidu1:before {
  content: "\e621";
}

.icon-chrome-o:before {
  content: "\e645";
}

.icon-chrome:before {
  content: "\e647";
}

.icon-twitter3:before {
  content: "\e673";
}

.icon-github:before {
  content: "\e692";
}

.icon-Twitter:before {
  content: "\e628";
}

.icon-dianying1:before {
  content: "\e620";
}

.icon-github-square:before {
  content: "\e6a3";
}

.icon-map_location_:before {
  content: "\e606";
}

.icon-ditu:before {
  content: "\e635";
}

.icon-ditu1:before {
  content: "\e884";
}

.icon-dianyingzhiye-dianyingbangdianjitai:before {
  content: "\e693";
}

.icon-Google:before {
  content: "\e616";
}

.icon-shipin3:before {
  content: "\e60a";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-zhifubao:before {
  content: "\e8e4";
}

.icon-alipay:before {
  content: "\e618";
}

.icon-dianying2:before {
  content: "\e60b";
}

.icon-GitHub:before {
  content: "\ea09";
}

.icon-GitHub1:before {
  content: "\ea0a";
}

.icon-Twitter1:before {
  content: "\ea3f";
}

.icon-Youtube:before {
  content: "\ea4c";
}

.icon-github1:before {
  content: "\e60d";
}

.icon-dianying3:before {
  content: "\e610";
}

.icon-weixin3:before {
  content: "\e62c";
}

.icon-ditu2:before {
  content: "\e611";
}

.icon-dianying4:before {
  content: "\e612";
}

.icon-dianying5:before {
  content: "\e622";
}

.icon-ditutubiao:before {
  content: "\e613";
}

.icon-zhifubaotubiao:before {
  content: "\e623";
}

.icon-xigua:before {
  content: "\e639";
}

.icon-ditu3:before {
  content: "\e624";
}

.icon-Youtube1:before {
  content: "\e880";
}

.icon-twitter4:before {
  content: "\e882";
}

.icon-Youtube-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-twitter-circle-fill:before {
  content: "\e88a";
}

.icon-twitter-square-fill:before {
  content: "\e891";
}

.icon-zhifubaozhifu1:before {
  content: "\e614";
}

.icon-ditu4:before {
  content: "\eb32";
}

.icon-weixin4:before {
  content: "\e625";
}

.icon-ditu5:before {
  content: "\e6db";
}

.icon-xigua1:before {
  content: "\e615";
}

.icon-ditu6:before {
  content: "\e617";
}

.icon-ditu-dibiao:before {
  content: "\ec3f";
}

.icon-ditu-tuding:before {
  content: "\ec41";
}

.icon-tengxunshipin:before {
  content: "\e636";
}

.icon-zhifupingtai-zhifubao:before {
  content: "\e619";
}

.icon-ditu7:before {
  content: "\e638";
}

.icon-ditu8:before {
  content: "\e65f";
}

.icon-twitter5:before {
  content: "\e626";
}

.icon-weixin5:before {
  content: "\e631";
}

.icon-xitonggengxin:before {
  content: "\e632";
}

.icon-instagram:before {
  content: "\e6fc";
}

.icon-Github:before {
  content: "\e61a";
}

.icon-weixin6:before {
  content: "\e856";
}

.icon-shipin4:before {
  content: "\e86e";
}

.icon-tengxunshipin1:before {
  content: "\e652";
}

.icon-github2:before {
  content: "\e6b7";
}

.icon-weixinzhifu:before {
  content: "\e61b";
}

.icon-github3:before {
  content: "\e64c";
}

.icon-toutiaoyaowen:before {
  content: "\e7d1";
}

.icon-weixin7:before {
  content: "\e665";
}

.icon-weibo2:before {
  content: "\e666";
}

.icon-douyintexiao:before {
  content: "\e682";
}

.icon-zhifubao1:before {
  content: "\e68b";
}

.icon-github4:before {
  content: "\e651";
}

.icon-ditu9:before {
  content: "\e674";
}

.icon-weixin8:before {
  content: "\e61c";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-gengxin:before {
  content: "\e627";
}

.icon-aiqiyi-:before {
  content: "\e62a";
}

.icon-wangyiyunyinle-:before {
  content: "\e62d";
}

.icon-baidutieba-:before {
  content: "\e63a";
}

.icon-dianying6:before {
  content: "\e8ae";
}

.icon-ditu10:before {
  content: "\e8ad";
}

.icon-dianyingpiao1:before {
  content: "\e8af";
}

.icon-weibo3:before {
  content: "\e8bb";
}

.icon-weixin9:before {
  content: "\e8bc";
}

.icon-youkuhuiyuan:before {
  content: "\e8c1";
}

.icon-dianyingpiao2:before {
  content: "\e8c4";
}

.icon-dianying7:before {
  content: "\e8c5";
}

.icon-twitter6:before {
  content: "\e63d";
}

.icon-guge:before {
  content: "\e662";
}

.icon-dianying8:before {
  content: "\e6ad";
}

.icon-youtube1:before {
  content: "\ea07";
}

.icon-github5:before {
  content: "\ea0b";
}

.icon-dianying9:before {
  content: "\e6c6";
}

.icon-dianying10:before {
  content: "\e63e";
}

.icon-ditu11:before {
  content: "\e61d";
}

.icon-baidu:before {
  content: "\e61f";
}

.icon-ditu12:before {
  content: "\e629";
}

.icon-shejiaotubiao-10:before {
  content: "\e641";
}

.icon-shejiaotubiao-11:before {
  content: "\e643";
}

.icon-shejiaotubiao-08:before {
  content: "\e642";
}

.icon-shejiaotubiao-48:before {
  content: "\e648";
}

.icon-shejiaotubiao-44:before {
  content: "\e649";
}

.icon-shejiaotubiao-47:before {
  content: "\e64a";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-bilibili-fill:before {
  content: "\e93e";
}

.icon-zhifubao2:before {
  content: "\e62b";
}

.icon-weixin10:before {
  content: "\e633";
}

.icon-toutiaoyangshi:before {
  content: "\e634";
}

.icon-16:before {
  content: "\e637";
}

.icon-29:before {
  content: "\e63b";
}

.icon-youku:before {
  content: "\e63c";
}

.icon-douban2:before {
  content: "\e63f";
}

.icon-shipin5:before {
  content: "\e812";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-alipay1:before {
  content: "\e8de";
}

.icon-github6:before {
  content: "\e737";
}

.icon-instagram1:before {
  content: "\e88c";
}

.icon-zhihu1:before {
  content: "\ea8b";
}

.icon-zhihu-square-fill:before {
  content: "\ea8c";
}

.icon-chrome-fill:before {
  content: "\eaaa";
}

.icon-gengxin1:before {
  content: "\f308";
}

.icon-wangyiyunyinle:before {
  content: "\e640";
}

.icon-douyin1:before {
  content: "\e644";
}

.icon-aiqiyi1:before {
  content: "\e646";
}

.icon-baiduyun:before {
  content: "\e66e";
}

.icon-tengxunyun:before {
  content: "\e66f";
}

.icon-github7:before {
  content: "\ecb5";
}

.icon-douyin2:before {
  content: "\e64d";
}

.icon-shipin6:before {
  content: "\e64e";
}

.icon-pinpaibiaoshi_douyin:before {
  content: "\e65a";
}

.icon-toutiao:before {
  content: "\f972";
}

.icon-toutiao1:before {
  content: "\fb21";
}

.icon-Rrl_s_111:before {
  content: "\e650";
}

.icon-toutiao2:before {
  content: "\fe9b";
}

.icon-bilibili1:before {
  content: "\e654";
}

.icon-BaiDu:before {
  content: "\e655";
}

.icon-Google1:before {
  content: "\e656";
}

.icon-xiguashipin:before {
  content: "\e657";
}

.icon-TencentCloud:before {
  content: "\e658";
}

.icon-tengxunshipin2:before {
  content: "\ee48";
}

.icon-aiqiyi2:before {
  content: "\ee49";
}

.icon-youku1:before {
  content: "\ee4a";
}

.icon-shipin:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-douban:before {
  content: "\e602";
}

.icon-dianyingpiao:before {
  content: "\e603";
}

.icon-zhifubaodanse:before {
  content: "\e68a";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-dianyingpiaoiocn:before {
  content: "\e60e";
}

.icon-shipintianchong:before {
  content: "\e690";
}

.icon-youtube:before {
  content: "\e660";
}

.icon-baidutuijian:before {
  content: "\e653";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-youtube4:before {
  content: "\e853";
}

.icon-tuitetwitter43:before {
  content: "\e6ee";
}

.icon-tuitetwitter44:before {
  content: "\e6ef";
}

.icon-tengxun:before {
  content: "\e61e";
}

.icon-shipin1:before {
  content: "\e607";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-icon2:before {
  content: "\e605";
}

.icon-aiqiyi:before {
  content: "\e608";
}

.icon-youku02:before {
  content: "\e630";
}

.icon-twitter:before {
  content: "\e689";
}

.icon-weixin1:before {
  content: "\e62e";
}

.icon-tengxunqq:before {
  content: "\e66d";
}

